body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d1dc4f+0,d3db60+45,d4d8a0+100 */
     
    font-family: monospace;/* Web-safe typewriter-like font */
    font-size: 1.5em;
    color: lightslategrey;
    margin: 0px auto;
    max-width: 100%;
    max-height: 100%;
   
}
 
.homeText {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 30px;
    position: absolute;
    top: 40%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/   
}

.textIntro {
    color: lightslategrey;
}

#bia {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: -5% auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blinking-cursor .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blinking-cursor {
    from, to { border-color: transparent }
    50% { border-color: #d1dc4f; }
  }

#biaPic {
    margin-left: 350px;
    width: 600px;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

#biaPic:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.main-container {
    margin: 0px auto;
    max-width: 100%;
    max-height: 100%;
}

#home{
    width: 100vw;
    height: 100vh;
}

header{
    margin: 0;
    position:fixed;
    height: 100%;
}

nav {
    background-color: #d1dc4f;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height:100%;
    width: 30px;
}

@-webkit-keyframes pulse {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

.svgMenu {
    width: 30px;
    margin-left: -15px;
    border: 2px solid #d1dc4f;
}

.text {
    text-align:center;
    color:lightslategrey;
}

#one:after{
    content:' ';
}
#one:hover:after{
    content:'home';
}
#two:after{
    content:' ';
}
#two:hover:after{
    content:'about';
}

#three:after{
    content:' ';
}
#three:hover:after{
    content:'blog';
}

#four:after{
    content:' ';
}
#four:hover:after{
    content:'hobbies';
}

#five:after{
    content:' ';
    
}
#five:hover:after{
    content:'contact';
}

#one, #two, #three, #four, #five {
    padding:30px;
    width: 20px;
    
}

#myself {
    margin-left: -400px;
    padding-top: 600px;
    width: 400px;
}

#about {
    height: 100vh;
    padding: 50px 50px 0px 150px;
}

h3 {
    border: 2px solid #d1dc4f;
}

.aboutBox {
    margin-top: -5px;
}


#zahaPic{
    margin-top: -5%;
    width: 1000px;
    height: 300px;
}

#webPic{
    margin-right: 100px;
    width: 600px;
    float: right;
}

#blog {
    padding-left: 200px;
    padding-top: 150px;
}

.blogBox{
    width: 90%;
    margin-top: 5%;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    flex-wrap: wrap;
}

.arch  {
    width:50%;
    flex-grow: 2;
    flex-shrink: 2;
    flex-basis: 0;
}

.web {
    width:50%;
    flex-grow: 2;
    flex-shrink: 2;
    flex-basis: 0;
}

.article1 {
    width: 100%;
    align-self: flex-end;
}


.article1 a {
    color: #d1dc4f;
    text-decoration: none;
}

.article1 img{
    width: 1500px;
}

.article1 img {
    width: 1500px;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.article1 img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.article2 {
    width: 100%;
    align-self: flex-end;
}


.article2 a {
    color: #d1dc4f;
    text-decoration: none;
}

.article2 img{
    width: 1500px;
}

.article2 img {
    width: 1500px;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.article2 img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}



.webVideo{
    width: 700px;
    height: 400px;
}

.archVideo{
    width: 700px;
    height: 400px;
}

#hobbies {
    width: 100%;
    padding-left: 200px;
    padding-top: 50px;
}

.hobbieBox {
    margin-top: 5%;
    width: 90%;
}

 

.hobbieTitle {
    width: 80%;
}

@keyframes carousel {
   0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

/*------------------------------------*\
    $CAROUSEL
\*------------------------------------*/
.carousel{
    margin:0;
    padding:0;
    overflow:hidden;
    width:40%; 
     
}

.panes{
    height: 600px;
    margin:0;
    padding:0;
    list-style:none;
    position:relative;
    width:500%; 
    overflow:hidden;  
 
    -moz-animation:carousel 30s infinite;
    -webkit-animation:carousel 30s infinite;
    animation:carousel 30s infinite;
}

.panes > li{
    position:relative;
    float:left;
    width:20%;  
}

.carousel img{
    display:block;
    width:100%;
    max-width:100%;
  
}

.carousel h2{
    margin-bottom: 50px;
    font-size:2rem;
    padding:0.5em;
    position:absolute;
    right:20px;
    bottom:10px;
    left:20px;
    text-align:center;
    color:#fff;
     
    box-shadow: 0px 0px 15px #888888;
}

#contact {
    height: 100%;
    padding-left: 200px;
    padding-top: 200px;
}

.contactInvite h3 {
    width: 90%;
}

  #form {
    position: relative;
    width: 500px;
    margin: 50px auto 100px auto;
  }
  
  input {
    font-family: monospace;
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    background: transparent;
    outline: none;
    color: #726659;
    border: solid 1px #b3aca7;
    border-bottom: none;
  }
  
  input:hover {
    background: #d1dc4f;
    color: lightslategrey;
  }
  
  textarea {
    font-family: monospace;
    width: 470px;
    max-width: 470px;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    background: transparent;
    color: #726659;
    font-size: 0.875em;
    border: solid 1px #b3aca7;
  }

  #subject {
      height: 50px;
  }
 
  textarea:hover {
    background: #d1dc4f;
    color: lightslategrey;
  }
  
  #submit {
    width: 502px;
    padding: 0;
    margin: -5px 0px 0px 0px;
    font-size: 0.875em;
    color: #b3aca7;
    outline:none;
    cursor: pointer;
    border: solid 1px #b3aca7;
    border-top: none;
    z-index: 10;
  }
  

/* FOOTER */

.footer {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    height: 100px;
    width:100vw;
    background: #d1dc4f;
    list-style: none;
    margin-left: -10%;
  }
  
  #facebook{
    display: flex;
    align-self: center;
    align-content: center;
    justify-content: center;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    width: 40%;
  }
  
  
  #facebook-svg{
    display: flex;
    align-self: center;
    width:40px;
    margin-left: 10%;
  }
  
  #location{
    display: flex;
    align-self: center;
    justify-content: center;
    align-content: center;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    width: 40%;
  }
  
  
  
  #emailicon{
    display: flex;
    align-self: center;
    justify-content: center;
    align-content: center;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    width: 40%;
  }
  
   
  .info {
    width:auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .info p {
    color: white;
    text-align: center;
    display: flex;
    line-height: 30px;
  }
  